body {
	background-color: #4682B4;
	max-width: auto;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

.t-container {
	max-width: 660px;
	height: auto;
	margin: 10px auto;
	padding: 10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px #483D8B;
	border-radius: 4px;
}

.s-title__logo {
	max-width: 620px;
	margin: 10px auto;
	display: block;
}

.s-title {
	margin: 200px 10px 160px;
	padding: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	font-size: 18px;
	font-weight: 600;
}

.s-title--description {
	margin: 10px 10px 120px;
	text-align: center;
}

.s-nav__graph  {
	text-align: center;
	margin: 0 20px 60px;
	position: fixed;
	background-color: #ffffff;
	border-radius: 4px;
	width: 114px;
}

.s-nav__graph--ancor {
	text-decoration: none;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px;
	border-bottom: 3px solid #b3f3ed;
	display: block;
	margin: 10px;
}

.s-nav__graph--ancor:hover {
	background-color: #4682B4;
	border-bottom: 5px solid #b3f3ed;
	padding: 16px;
	color: #ffffff;
	font-weight: bolder;
	border-radius: 6px;
	transition: .5s;
}

.s-title__data {
	text-align: center;
	display: block;
	margin: 0 auto;
}

.s-title__graph {
	text-align: center;
	padding-top: 20px;
	margin: 10px 10px 40px;
}

.s-show-datas {
	margin-bottom: 60px;
}

@media (max-width: 480px) {
	.s-title__logo {
		width: 320px;
	}
}